@model PruebaEF6.Models.Country
@{
    ViewBag.Title = "Create";
}

<h2>Country: Create</h2>

@using (Html.BeginForm("CreateCountry", "Country", null, FormMethod.Post, new { @class = "form-control" }))
{
    <div class="mb-3">
        @Html.LabelFor(model => model.Code)
        @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}



